spring:
  datasource:
    url: jdbc:tc:mysql:8.0.36:///member
    username: member
    password: member
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
