name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version-file: .sdkmanrc
          cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew build -x test

      - name: Unit tests
        run: ./gradlew test

      - name: Integration tests
        run: ./gradlew integrationTest

      - name: Jacoco report
        run: ./gradlew jacocoRootReport

      - name: Upload coverage
        uses: codecov/codecov-action@v5.5.2
        with:
          files: build/reports/jacoco/jacocoRootReport/jacocoRootReport.xml
